:root {
    --bgColour: #222831;
    --forColour: #EEEEEE;
    --priColour: #31363F;
    --secColour: #76ABAE;
}

body {
    background-color: var(--bgColour);
}

h1 {
    font-size: 20px;
    color: var(--secColour);
}

p {
    font-size: 12px;
    color: var(--forColour);
}