
.main-container {
    max-width: 1200px !important; 
}

.health-block {
    width: 18px; 
    height: 18px; 
    border-radius: 6px; 
    background-color: greenyellow;
}

.empty-health-block {
    width: 18px; 
    height: 18px; 
    border-radius: 6px; 
    border: 1px solid greenyellow;    
}

.health-bar {
    width: 100px !important; padding: 0 !important; margin: 0 !important;
}

.p2 {
    align-items: right; justify-content: end; right: -25px;
}
.game-topbar {
    display: flex;
    justify-content: space-between;
    top: 20px; bottom: -30px;
}

#player-1-details,  #player-2-details {
    max-width: 250px;
    min-width: 250px;
}

#player-2-details {
    margin-right: -28px;
}

#versus-container {
    /* something  */
}

#versus-image {
    overflow: visible;
    width: 140px;
    height: 140px;
    right: 18px;
}


/* :root {
    --bgColour: #222831;
    --forColour: #eeeeee;
    --priColour: #31363f;
    --secColour: #76abae;
}

body {
    background-color: var(--bgColour);
    overflow: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: absolute;
    display: flex;
    align-items: end;
    justify-content: center;
    bottom: 20px;
    color: var(--forColour);
    width: 99%;
}

.nav-container {
    text-align: center;
    margin: auto;
}

.game-container {
    display: flex;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border: 12px solid var(--secColour);
    background-color: var(--priColour);
    border-radius: 25px;
    min-height: 350px;
    min-width: 400px;
    width: 900px;
}

.player {
    font-weight: bold;
    text-align: center;
    height: 125px;
    border: 2px solid var(--secColour);
    border-radius: 20px;
    padding: 10px;
}

.scores {
    width: 15%;
    text-align: right;
    justify-content: left;
    align-items: start;
}

#player-1 {
    align-items: self-start;
    width: calc(45% - 45px);
    color: var(--forColour);
}

#player-2 {
    width: calc(45% - 45px);
    color: var(--forColour);
}

#game-score,
#draws-score,
#rounds {
    color: var(--forColour);
}

h1 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 7px;
    color: var(--secColour);
}

h2 {
    margin-top: -28px;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--forColour);
}

p {
    font-size: 12px;
    color: var(--forColour);
} */
