:root {
    --bgColour: #222831;
    --forColour: #EEEEEE;
    --priColour: #31363F;
    --secColour: #76ABAE;
}

body {
    background-color: var(--bgColour);
}

.container {
    display: flexbox;
    justify-content: center;
}

.playerBox {
    border-radius: 10px;
    border-color: var(--secColour);
    border-width: 2px;
    background-color: var(--priColour);
    width: 300px;
    height: 100px;
}

h1 {
    font-size: 20px;
    color: var(--secColour);
}

p {
    font-size: 12px;
    color: var(--forColour);
}