@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bgColour: #222831;
    --forColour: #EEEEEE;
    --priColour: #31363F;
    --secColour: #76ABAE;
}

body {
    background-color: var(--bgColour);
    position: relative;
    overflow:hidden;
    width: 90%;
    height: 90%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.playerBox {
    position: absolute;
    border-radius: 25px;
    border: 2px solid var(--secColour);
    background-color: var(--priColour);
    padding: 10px;
    width: 300px;
    height: 100px;
}

h1 {
    font-size: 20px;
    color: var(--secColour);
}

p {
    font-size: 12px;
    color: var(--forColour);
}